{% extends "base.html" %}
 
{% block title %}Add New Student Record{% endblock title %}
 
{% block content %}

<div class="col-md-12">
    <form method="POST" class="post-form" action="/update/{{student.id}}">
            {% csrf_token %}
        <div class="container">
    <br>
        <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <h3 style="text-align:center;color: red">Update Details</h3>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Student Id:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="id" id="id_id" required maxlength="20" value="{{ student.id }}"/>
        </div>
      </div>

       <div class="form-group row">
        <label class="col-sm-2 col-form-label">Student Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="name" id="id_name" required maxlength="100" value="{{ student.name }}" />
        </div>
      </div>

       <div class="form-group row">
        <label class="col-sm-2 col-form-label">Student Year:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="year" id="id_year" required maxlength="10" value="{{ student.year }}"/>
       </div>
      </div>

       <div class="form-group row">
        <label class="col-sm-2 col-form-label">Student Course:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="course" id="id_course" required maxlength="100" value="{{ student.course }}"/>
        </div>
       </div>

       <div class="form-group row">
        <label class="col-sm-2 col-form-label">Student Email:</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" name="email" id="id_email" required maxlength="254" value="{{ student.email }}" />
        </div>
       </div>

       <div class="form-group row">
        <label class="col-sm-2 col-form-label">Student Contact:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="contact" id="id_contact" required maxlength="15" value="{{ student.contact }}" />
        </div>
       </div>

       <div class="form-group row">
        <label class="col-sm-2 col-form-label">Date & Time:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="date" id="id_date" required maxlength="100" value="{{ student.date }}"/>
        </div>
       </div>

       <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-success btn-lg">Update</button>
        </div>
       </div>
  </div>

 </form>

</div>
{% endblock content %}   